<!doctype html>
<html lang="en">
<head>
    <title>bm424</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway&display=swap"
          rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <link href="highlight-styles.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main>
    {% for post in post_list|sort(attribute="date", reverse=true) %}
        <article>
            <h1 class="post-title">
          <span class="line">
            <a id="{{ post.slug }}" href="#{{ post.slug }}">{{ post.title }}</a>
          </span>
                {% if post.date %}
                    <span class="line"><small>{{ post.date.strftime("%Y-%m-%d") }}</small></span>
                {% endif %}
            </h1>
            {{ post.html|safe }}
        </article>
    {% endfor %}
</main>
<footer>
    <nav>
        <ol>
            {% for post in post_list|sort(attribute="date", reverse=true) %}
                <li><a href="#{{ post.slug }}">{{ post.date.strftime("%Y-%m-%d") or post.title }}</a></li>
            {% endfor %}
        </ol>
    </nav>
</footer>
</body>
</html>
